<div style="text-align: center;">
{% for post in post_set %}
<div style="display: inline-block;">
  <img src="{{ post.photo.url}}" style="height:300px;width:300px;object-fit:scale-down;"></img>
  <div style="text-align: left;">
    <h5><a href="{% url 'media:profile' post.posted_by.username %}">
      {{ post.posted_by.username }}
    </a> {{post.caption}}</h5>
    <h5>Posted on {{post.post_date}}</h5>
    <a href="{% url 'media:post' post.pk %}">See Comments...</a>
  </div>
<div>
{% endfor %}
</div>
