<div style="text-align: center;">
  <div style="display:inline-block; text-align: left;">
    <img src="{{ post.photo.url }}" style="height:300px;width:300px;object-fit:scale-down;"></img>
    <h5>{{post.posted_by.username}} {{post.caption}}</h5>
    <h5>Posted on {{post.post_date}}</h5>

    <h3>Comments</h3>
    {% for comment in comment_set %}
      <div>{{ comment.posted_by.username }} {{ comment.comment }}</div>
      <div>Posted on {{ comment.post_date}}</div>
    {% endfor %}
  </div>
</div>
